.navbar-inverse {
background-color: #4D0078 !important;
     }

h1 {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
}

h2 {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
}

p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 0;
  padding-bottom: 20px;
  color: white;
}

ul {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  list-style-type: none;
  padding: 0;
}

footer {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

img {
  align-items: center;
  max-width: 100%;
  height: auto;
}

.homepage {
  border-radius: 50%;
}

hr {
  border-color: #4D0078;
}

body {
  background-image: url("space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutpage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

/* Image Grid */
.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.image img {
  width: 100%;
}
