.navbar-inverse {
  background-color: #8C084B;
  border-color: pink;
}

.navbar-inverse .navbar-nav>li>a {
  color: white;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: pink;
}

.navbar-inverse .navbar-brand {
  color: white;
}

h1 {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
  background-color: #750D0E;
  padding-bottom: 15px;
  padding-top: 15px;
}

h2 {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-variant: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 700;
  line-height: 26.4px;
  color: white;
  background-color: #750D0E;
}

h2.reviews {
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  color: white;
  background-color: #750D0E;
  padding: 20px;
}

p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  padding-bottom: 10px;
  padding-top: 10px;
  color: white;
  background-color: #750D0E;
}

p.textbox {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 0;
  color: white;
  background-color: #750D0E;
  background-clip: content-box;
  padding: 15px;
}

ul {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  list-style-type: none;
}

ul.text {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: : 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  list-style-type: none;
  padding: 15px;
  background-color: #750D0E;
}

footer {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

img {
  align-items: center;
  max-width: 100%;
  height: auto;
  padding-bottom: 15px;
}

.homepage {
  border-radius: 50%;
}

hr {
  border-color: pink;
}

body {
  background-image: url("candy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.aboutpage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}

/* Image Grid */
.portfolio {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.image img {
  width: 100%;
}
